<template>
	<div class="v-home">
		<a class="v-home__next-button" href="https://onboarding-caminos.grupocaminos.es/">Start</a>
	</div>
</template>

<script>
export default {
	name: 'v-home',
};
</script>

<style lang="scss" scoped>
.v-home {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.v-home__next-button {
	cursor: pointer;
	appearance: none;
	display: inline-flex;
	position: relative;
	min-width: 64px;
	height: 48px;
	align-items: center;
	justify-content: center;
	border: none;
	outline: none;
	user-select: none;
	margin: 0;
	line-height: 1.5;
	letter-spacing: 0;
	text-decoration: none;
	padding: 0 8px 0 8px;
	white-space: nowrap;
	border-radius: 4px;
	background-color: midnightblue;
	color: white;
}
</style>
