<template>
	<div id="app">
		<router-view />
		<div id="chat">
			<img
				id="liveagent_button_online_57309000000kckn"
				style="display: none; border: 0px none; cursor: pointer"
				@click="startChat"
				:src="onlineImage"
			/>
			<img
				id="liveagent_button_offline_57309000000kckn"
				style="display: none; border: 0px none"
				:src="offlineImage"
			/>
		</div>
	</div>
</template>

<script>
const domain = 'https://www.bancofar.es/documents/66903/322677/';

export default {
	name: 'app',

	data() {
		return {
			onlineImage: `${domain}Chat+online/412b4e2f-48b6-4dc7-a544-e92a9eb18e5d?t=1619017217816`,
			offlineImage: `${domain}char+offline/6b69e4cc-313f-4fd3-9c2b-6eca68c22519?t=1619017243092`,
		};
	},

	methods: {
		startChat() {
			this.$store.dispatch('liveagent/start');
		},
	},

	created() {
		this.$store.dispatch('liveagent/install');
	},
};
</script>

<style lang="scss">
html,
body {
	width: 100%;
	height: 100%;
}
</style>

<style lang="scss" scoped>
#app {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

#chat {
	display: flex;
	position: absolute;
	width: 270px;
	height: 100px;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	padding: 10px;
	z-index: 999;
}
</style>
